<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Beneficios SUBE </title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

    <header>
        <h1>Beneficios SUBE</h1>
        <p>Encontrá descuentos para moverte</p>
    </header>

    <div class="container">
        <div class="controls">
            <input type="text" id="searchInput" class="search-bar" placeholder="Buscar por banco, día o monto...">
            </div>
        <div id="loading">Cargando descuentos...</div>
        <div id="gridBeneficios" class="grid"></div>
    </div>

    <script src="/static/app.js"></script>
</body>
</html>